<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HelsinginSanomat" value="http://www.hs.fi/uutiset/rss/"/>
    <add key="Iltalehti" value="http://www.iltalehti.fi/rss.xml"/>
    <add key="MTV" value="http://www.mtv.fi/api/feed/rss/uutiset_uusimmat"/>
    <add key="YleUutiset" value="http://feeds.yle.fi/uutiset/v1/majorHeadlines/YLE_UUTISET.rss"/>
    <add key="TekniikanMaailma" value="http://tekniikanmaailma.fi/feed/" />
  </appSettings>
</configuration>